body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  flex: 1;
}

.navbar {
  height: 5rem;
  background-color: white;
}
.fa-city {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

.f-info-links {
  text-decoration: none;
  color: #222222;
}
.f-info-links:over a {
  text-decoration: underline;
}
.f-info-links,
.f-info-social,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-social i {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.f-info {
  text-align: center;
  display: flex;
  height: 8rem;
  background-color: #d3d3d3;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

.card {
  border: none !important;
  margin-bottom: 2rem;
}
.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}
.card-text {
  font-weight: 400;
}
.listing-link {
  text-decoration: none;
}

.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.25;
  background-color: white;
}

.add-btn {
  background-color: #fe424d;
  border: none !important;
  border-radius: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: #d3d3d3;
}

.show-imag {
  height: 30%;
}

.btns {
  display: flex;
}
